<!DOCTYPE html>
<html>
  <head>
    <title><%= t("application.name") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <% if current_user %>
      <div>
        <%= button_to t("application.nav.sign_out"), sign_out_path, method: :delete %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
